@model IEnumerable<Mvc_fileUploader.Models.UploadedFile>

@{
    ViewBag.Title = "UploadedFiles";
}

<h2>UploadedFiles</h2>

<table>
    <tr>
        <td>Name // [download]</td>
        <td>Size</td>
        <td>Preview</td>
    </tr>

    @foreach (var file in Model)
    {
        <tr>
            <td><a href="@file.Path">@file.Name</a></td>
            
            <td>@file.Size.ToString("0,0") @{   if (file.SizePrefix == false)
                                                {
                                                    <span>KB</span>
                                                }
                                                else if (file.SizePrefix == true)
                                                { 
                                                    <span>GB</span>
                                                }
                                                else
                                                {
                                                    <span>MB</span>
                                                }  
                                            }
                                             
            </td>

            <td>@{  if (Path.GetExtension(file.Name) == ".jpg" ||
                        Path.GetExtension(file.Name) == ".jpeg" ||
                        Path.GetExtension(file.Name) == ".gif" ||
                        Path.GetExtension(file.Name) == ".png")
                    { 
                        <img src="@file.Path" height="100" width="100" alt="imagePreview" />
                    }
                
                }

            </td>
        </tr>       
    }
        
</table>
