@{
    ViewBag.Title = "FileUpload";
}

<h2>FileUpload</h2>

<h3>Upload a File:</h3>


    @using (Html.BeginForm("FileUpload", "Home", FormMethod.Post, new {enctype = "multipart/form-data"}))
    { 
        @Html.ValidationSummary();
        <input type="file" name="fileToUpload" /><br />
        <input type="submit" name="Submit" value="upload" />  
        @ViewBag.Message
    }